.bwl_dn {
  display: none;
}
.baf-about-wrap {
  clear: both;
}
.baf-about-wrap h2 {
  margin: 0;
  padding: 0;
}
.baf-about-wrap li,
.baf-about-wrap p,
.baf-about-wrap ul {
  font-size: 14px;
}
.baf-about-wrap a {
  text-decoration: none;
}
.baf-about-wrap a::hover {
  color: #2c2c2c;
}
.developer-info {
  font-size: 16px;
}
.welcome-hr {
  border: 0;
  border-bottom: 1px solid #ccc;
}
.baf-about-wrap li {
  border: 1px solid #fff;
  float: left;
  margin-right: 12px;
  width: 24%;
}
.baf-about-wrap li:last-child {
  border-bottom: 0 solid #fff;
}
.baf-about-wrap ul.features {
  clear: both;
  width: 100%;
}
.baf-about-wrap ul.features li {
  border: none;
  width: 100%;
}
.baf-about-wrap li p.addon-title {
  background: #fff;
  margin: 0 0 1px !important;
  padding: 12px;
  text-align: center;
}
.baf-about-wrap li p.addon-status {
  background: #fff;
  margin: 1px 0 0 !important;
  padding: 12px;
  text-align: center;
}
.baf-about-wrap li p.addon-info {
  background: #fcfcfc;
  clear: both;
  margin: 0;
  padding: 6px;
  text-align: left;
}
.baf-about-wrap li p.addon-info img {
  border-radius: 10px 0;
  display: inline-block;
  margin-right: 7px;
  margin-top: 3px;
}
.baf_addon_install {
  background: #ff003a;
}
.baf_addon_install,
.baf_addon_installed {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 2px 10px;
}
.baf_addon_installed {
  background: #47b642;
}
.baf_addon_install a,
.baf_addon_installed a {
  color: #fff;
  text-decoration: none;
}
.baf-sc-hints {
  clear: both;
}
.baf-sc-hints ol {
  margin-left: 12px;
}
.baf-sc-hints ol li {
  clear: both;
}
.baf-sc-hints ol li small {
  background: #edf0f2;
  border-radius: 4px;
  margin-left: -12px;
  padding: 4px 0;
}
.baf_doc_link,
.baf_support_link {
  color: green;
  font-weight: 700;
}
.update-nag {
  display: none;
}
#instructions {
  max-width: 670px;
}
h3.title {
  border-top: 1px solid #ddd;
  margin: 30px 0 0;
  padding: 30px 0 0;
}
.vc_element-icon.icon-usa-con-vc-addon {
  background-image: url(../images/icon-usa-con-vc-addon.5ad89747.png) !important;
  background-position: 0 0 !important;
}
.vc_element-icon.icon-usa-vc-addon {
  background-image: url(../images/icon-usa-vc-addon.5a48d130.png) !important;
}
.vc_admin_label label {
  color: #555;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.new_version_box {
  background: #d54e21;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  padding: 0 5px;
}
